################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/52/ExercicioFinal/cepAPI.docx
/52/ExercicioFinal/Dev/ProjetoCep.Api/.vs/ProjetoCep.Api
/52/ExercicioFinal/Dev/ProjetoCep.Api/Models/obj
/52/ExercicioFinal/Dev/ProjetoCep.Api/ProjetoCep.Api/obj
/52/ExercicioFinal/Dev/ProjetoCep.Api/ProjetoCep.Clients/obj
/52/ExercicioFinal/Dev/ProjetoCep.Api/ProjetoCep.Models/obj
/52/ExercicioFinal/Dev/ProjetoCep.Api/ProjetoCep.Repo/obj
/52/ExercicioFinal/Dev/ProjetoCep.Api/ProjetoCep.Services/obj
